# Configurações de Conexão com a Blockchain Polygon
POLYGON_RPC_URL=https://polygon-rpc.com
PLATFORM_WALLET_ADDRESS=0x51552387F928FE3796e4d205AC4545aDAe7ab6A6
PLATFORM_PRIVATE_KEY=9f42cc5984c74a0146519ad494a3b959d2dee9423c603be65df4eafcc6d2e2e3

# Configurações do Banco de Dados PostgreSQL
DATABASE_URL=postgresql://postgres:123456@localhost:5432/crypto_ad_db
